.pelilauta{
    background-color: gray;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.pelilauta div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    background-color: whitesmoke;
}